.lobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--offset_xl);
    text-align: center;

    &__description {
        margin: 0;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--offset_s);

        &-hint {
            font-size: var(--font-size_xs);
        }
    }
}
