.password {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--offset_xl);
    text-align: center;

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: var(--offset_m);
        width: 100%;
    }

    &__agreement {
        font-size: var(--font-size_xs);
    }

    &__actions {
        max-width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: var(--offset_m);
    }
}
