.password {
    display: flex;
    flex-direction: column;
    gap: var(--offset);
    align-items: center;
    
    &__loading {
        filter: blur(3px);
        pointer-events: none;
    }

    &__actions {
        display: flex;
        gap: var(--offset);
    }
}