.password {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--offset);
    align-items: center;
    
    &__loading {
        filter: blur(3px);
        pointer-events: none;
    }

    &__actions {
        max-width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: var(--offset);
    }
}