.success {
    display: flex;
    flex-direction: column;
    gap: var(--offset_xl);
    align-items: center;
    text-align: center;

    &__description {
        margin: 0;
    }

    &__actions {
        max-width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: var(--offset_m);
    }

    &__socials {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--offset_s);

        &-title {
            font-size: var(--font-size_xs);
        }

        &-links {
            display: flex;
            gap: var(--offset_s);

            &-link {
                line-height: 0;

                &:focus-visible {
                    padding: var(--offset_xs);
                    margin: calc(-1 * var(--offset_xs));
                }
            }
        }
    }
}
