.success {
    display: flex;
    flex-direction: column;
    gap: var(--offset);
    align-items: center;
    
    &__description {
        text-align: center;
        color: var(--unaccented_text-color);
    }
}