:root{
    --primary_color: #397FFA;
    --secondary_color: #4050E3;
    --error_color: #E3565A;
    --text-color: #000000;
    --contrast_text-color: #FFFFFF;
    --field_background-color: #F4F4F4;
    --field_text-color: #A5A5A5;
    --font-size_m: 20px;
    --font-size_l: 32px;
    --border-radius: 10px;
    --offset: 20px;
}