:root {
    --primary_color: #239eb9;
    --secondary_color: #26798b;
    --secondary_translucent-color: rgb(38 121 139 / 50%);
    --error_color: #e3565a;
    --text-color: #fff;
    --background_color: #000;
    --unaccented_text-color: rgba(255 255 255 / 60%);
    --field_border-color: #fff;
    --font-size_m: 18px;
    --font-size_l: 32px;
    --border-radius: 100px;
    --offset: 18px;
}
