.button {
    min-width: 200px;
    padding: 12px 24px;
    border: none;
    border-radius: var(--border-radius);
    font-size: var(--font-size_m);
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.2s;

    &_primary {
        background-color: var(--primary_color);

        &:hover {
            background-color: var(--secondary_color);
        }
    }

    &_secondary {
        background-color: transparent;
        border: 2px solid var(--primary_color);

        &:hover {
            background-color: var(--secondary_translucent-color);
        }
    }
}