.button {
    min-width: 150px;
    padding: 15px 25px;
    border-radius: var(--border-radius);
    font-size: var(--font-size_m);
    color: var(--contrast_text-color);
    font-weight: bold;
    border: none;

    &_primary {
        background-color: var(--primary_color);
    }

    &_secondary {
        background-color: var(--secondary_color);
    }
}