.button {
    padding: 12px 48px;
    border: none;
    border-radius: var(--border-radius);
    font-size: var(--font-size_m);
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.2s;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &_primary {
        background-color: var(--primary_color);

        &:hover {
            background-color: var(--secondary_color);
        }
    }

    &_secondary {
        background-color: transparent;
        border: 2px solid var(--primary_color);

        &:hover {
            background-color: var(--secondary_translucent-color);
        }
    }
    
    &_icon {
        padding: 12px;
        // FIXME Has no alignment with text
        line-height: 0;
    }

    &__icon {
        width: var(--font-size_m);
        height: var(--font-size_m);
    }
}