.input {
    width: 500px;
    max-width: 100%;
    padding: 12px 24px;
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
    border: 2px solid var(--field_border-color);
    border-radius: var(--border-radius);
    font-size: var(--font-size_m);
    color: var(--text-color);

    &::placeholder {
        color: var(--unaccented_text-color);
    }

    &:focus {
        border: 2px solid var(--primary_color);
    }
}