.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    gap: var(--offset_m);

    &__image {
        width: 40px;
        // It helps to avoid "jumps" during the loading
        height: 40px;
    }

    &__text {
        font-size: var(--font-size_m);
        font-weight: bold;
        margin: unset;
    } 
}
