.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    gap: var(--offset_m);

    &:focus-visible {
        padding: var(--offset_xs) var(--offset_m) var(--offset_xs) var(--offset_xs);
        margin: calc(-1 * var(--offset_xs)) calc(-1 * var(--offset_m)) calc(-1 * var(--offset_xs))
            calc(-1 * var(--offset_xs));
    }

    &__image {
        width: 40px;
        // It helps to avoid "jumps" during the loading
        height: 40px;
    }

    &__text {
        font-size: var(--font-size_m);
        font-weight: bold;
        margin: unset;
    }
}
