.menu {
    &__list {
        list-style-type: none;
        display: flex;
        padding: unset;
        gap: var(--offset_2xl);

        &-item {
            padding: unset;

            &-button {
                padding: 6px 17px;
                margin: -6px -17px;
                border-radius: var(--border-radius-infinite);
            }
        }
    }
}
