@import 'styles/abstracts/breakpoints';

.snackback-component {
    max-width: 400px;
    backdrop-filter: var(--blur-filter);

    // TODO: Set 100% width on mobile
    &_mobile {
        max-width: 100%;
    }
}
