@use 'sass:math';
@import 'styles/abstracts/breakpoints';

.base {
    background-color: #070707;
    position: fixed;
    width: 100%;
    height: 100svh;
    // For old browsers
    height: 100%;

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;

        @media (width >= $breakpoint-s) {
            background-image: url('/resources/backgrounds/desktop.svg');
        }

        @media (width < $breakpoint-s) {
            background-image: url('/resources/backgrounds/mobile.svg');
        }
    }

    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--primary-color);
        mix-blend-mode: color;
        transition: background-color 1s ease-in-out;
    }

    &__content {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            z-index: 1;

            @media (width >= $breakpoint-s) {
                padding: var(--offset_l) var(--offset_xl);
            }

            @media (width < $breakpoint-s) {
                padding: var(--offset_m);
            }
        }

        &-body {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            &-content {
                @media (width >= $breakpoint-s) {
                    width: 450px;
                }

                @media (width < $breakpoint-s) {
                    width: 100%;
                    padding: 0 var(--offset_m);
                }
            }
        }

        &-footer {
            z-index: 1;
            align-self: end;

            @media (width >= $breakpoint-s) {
                padding: var(--offset_l) var(--offset_xl);
            }

            @media (width < $breakpoint-s) {
                padding: var(--offset_m);
            }
        }
    }
}
