@use 'sass:math';
@import 'styles/abstracts/breakpoints';
@import 'styles/layout/variables';

.base {
    background-color: #070707;
    position: fixed;
    width: 100%;
    height: 100svh;
    // For old browsers
    height: 100%;

    &__header {
        position: absolute;
        left: var(--offset_xl);
        right: var(--offset_xl);
        top: var(--offset_l);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;

        @media (width < $breakpoint-s) {
            left: var(--offset_m);
            right: var(--offset_m);
            top: var(--offset_m);
        }
    }

    &__body {
        $stage-height: 100px;
        $content-height: 350px;
        $height: $stage-height + $content-height;

        position: absolute;

        @media (width < $breakpoint-s) {
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            padding: var(--offset_m);
            box-sizing: border-box;
        }

        @media (width >= $breakpoint-s) {
            width: $body-width;
            height: $height;
            top: calc(
                50% - $height / 2 - (($grad-offset - math.abs($content-height - $stage-height) / 2))
            );
            left: calc(50% - $body-width / 2);
            display: flex;
            flex-direction: column;

            &-stage {
                height: $stage-height;
                box-sizing: border-box;
                padding: var(--offset_m) var(--offset_2xl);
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            &-content {
                height: $content-height;
                box-sizing: border-box;
                padding: var(--offset_2xl);
            }
        }
    }

    &__footer {
        position: absolute;
        right: var(--offset_xl);
        bottom: var(--offset_l);
        z-index: 1;

        @media (width < $breakpoint-s) {
            right: var(--offset_m);
            bottom: var(--offset_m);
        }
    }
}
