@import 'abstracts/variables';
@import 'base/normalize', 'base/base', 'base/typography';
@import 'components/logo', 'components/menu', 'components/credits', 'components/windowManager',
    'components/loading', 'components/dragNDrop', 'components/snackbarProvider', 'components/about',
    'components/dropArea';
@import 'layout/page';
@import 'pages/upload', 'pages/secure', 'pages/download', 'pages/notFound';
